
<!DOCTYPE html>
<html style="height:100%;">
    <head>
        <link href="static/flot/jquery-ui.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="static/dist/leaflet.css" />
        <link href="static/examples.css" rel="stylesheet" type="text/css">
        <script src="static/head.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body style="height:100%;">
                <div class="container-fluid" style="height:100%;">
                    <div class="row" style="height:100%;">
                        <div class="col-2">
                            <a>hello</a>
                        </div>
                        <div class="col-6" style="height:60%;">
                            <div id="map" class="demo-placeholder" float="left"></div>
                        </div>
                    </div>
                </div>
                <!--</div>-->
        <script>
            //main script
            head.js("static/main.js");
        </script>
    </body>
</html>

